@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    background-image: url("images/background.jpg")
}

h1 {
    text-align: center;
    border-bottom: 2px solid cadetblue;
    font-weight: bold;
    text-shadow: -1px 0 darkgoldenrod, 0 1px darkgoldenrod, 1px 0 darkgoldenrod, 0 -1px darkgoldenrod;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.character{
    text-align: center;
    background-color: white;
}

#attack{
    margin-left: 50%;
}

.ready {
    display: block;
    background-color: cadetblue;
    color: white;
}

.charselect, .hero, .defender, .enemy, .defeated {
    margin: 0 auto;
}

.log {
    height: 150px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: white;
    border: 3px solid cadetblue;
    margin-bottom: 10px;
}

.log #damage{
    color: red;
}

.vanish {
    display: none;
}

.defeated .character {
    opacity: 0.75;
    background-color: grey;
    border: 1px solid black;
    margin: 10px;
}

.hero .character {
    border: 3px solid green;
    margin-left: 25%;
    color: green;
}

.enemy .character {
    background-color: black;
    border: 1px solid red;
    margin: 10px;
}

.defender .character {
    border: 3px solid red;
    color: red;
    margin-left: 25%;
}

.defeated .character img {
    display: none;
}

.charselect .character {
    border: 1px solid grey;
}

.rowDefeat h1 {
    border-bottom: 2px solid white;
    color: white;
}